# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.txt text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.avi binary
*.mov binary
*.wav binary
*.mp3 binary
*.flac binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pt binary
*.pth binary
*.ckpt binary
*.safetensors binary
